html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 10px;
}
body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 30px;
}

.table-image img {
    max-width: 100px;
    height: auto;
}

.table tbody tr:hover {
    background-color: #e9ecef;
    cursor: pointer;
}
